.avatar {
		width: 5%;  
		height: 1%; 
		}
.profile{
			width: 12%;  
		height: 12%; 
		}
aside {
    width: 100%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}
p {
    font-family: 'Fira Sans', sans-serif;
}